@font-face {
  font-family: 'iconfont';  /* project id 1369967 */
  src: url('//at.alicdn.com/t/font_1369967_026mtvxqa1jx.eot');
  src: url('//at.alicdn.com/t/font_1369967_026mtvxqa1jx.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1369967_026mtvxqa1jx.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1369967_026mtvxqa1jx.woff') format('woff'),
  url('//at.alicdn.com/t/font_1369967_026mtvxqa1jx.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1369967_026mtvxqa1jx.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-r:before {
  content: "\e650";
}

.icon-youjiantou:before {
  content: "\e630";
}

.icon-type:before {
  content: "\e6c0";
}

.icon-zhengshu:before {
  content: "\e63f";
}

.icon-guanbi:before {
  content: "\e690";
}

.icon-yanzhengma:before {
  content: "\e61b";
}

.icon-libao:before {
  content: "\e608";
}

.icon-youhuiquan:before {
  content: "\e651";
}

.icon-dui:before {
  content: "\e645";
}

.icon-gongsidizhi:before {
  content: "\e70d";
}

.icon-weizhi:before {
  content: "\e672";
}

.icon-fapiao:before {
  content: "\e6b8";
}

.icon-dizhi:before {
  content: "\e635";
}

.icon-youhuiquan2:before {
  content: "\e63d";
}

.icon-youhuiquan1:before {
  content: "\e602";
}

.icon-shouji:before {
  content: "\e615";
}

.icon-kefu:before {
  content: "\e604";
}

